# API Configuration
NEXT_PUBLIC_API_URL=https://galsenfoot-backend.onrender.com
NEXT_PUBLIC_API_TIMEOUT=30000

# JWT Configuration
NEXT_PUBLIC_TOKEN_KEY=galsenfoot_access_token
NEXT_PUBLIC_REFRESH_TOKEN_KEY=galsenfoot_refresh_token
